[user]
	name = David Lopes
	email = $GITCONFIG_EMAIL
	signingkey = $GITCONFIG_SIGNING_KEY
[init]
	defaultBranch = main
[pull]
	ff = only
	rebase = false
[merge]
	ff = yes
[fetch]
	prune = true
[commit]
	gpgSign = true
[gpg]
	program = gpg
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
