Host	blog
	HostName	blog.internal.siggilum.com
	User	dnl
	StrictHostKeyChecking	no
	IdentityFile	~/.ssh/blog.pem
	UserKnownHostsFile	/dev/null

Host	github
	User	git
	HostName	github.com
	IdentitiesOnly	yes
	IdentityFile	$DOTFILES_SSHCONFIG_GITHUB_IDENTITY_FILE_NAME
